{{> navbar}}

<div class="container">
  <div class="row h-100">
    <div class="col-3">
   {{> menu}}
    </div>
    <div class="col-6">
     {{> addPost}}
    </div>

    <div class="col-6">
      test
    </div>
  </div>
</div>