h1 {
  color: red; }

.test-h1 {
  color: green; }

body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.menu {
  height: calc(100% - 90px);
  border-radius: 10px;
  background-color: #00BD97;
  width: max-content;
  position: relative; }
  .menu .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 18px 0px; }
    .menu .header .header-arrow {
      position: absolute;
      right: -18px;
      background-color: white;
      color: #00BD97;
      border-radius: 50%;
      border: 1.5px solid #00BD97;
      margin-left: 5px; }
      .menu .header .header-arrow .material-symbols-outlined {
        font-weight: 600;
        padding: 3px; }
  .menu .items {
    padding: 10px 20px; }
    .menu .items .items__icon {
      padding: 7px 15px;
      color: white;
      border-radius: 12px; }
      .menu .items .items__icon.items__icon--active {
        background-color: white;
        color: #00BD97; }
      .menu .items .items__icon .material-symbols-outlined {
        font-size: 35px; }

.navbar {
  padding: 0;
  margin: 0;
  background-color: white;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0; }
  .navbar .row {
    width: 100%;
    align-items: center; }
    .navbar .row .search .search__wrap {
      display: flex;
      flex-direction: row;
      border: 1px solid #ccc;
      border-radius: 35px;
      padding: 5px;
      min-width: 300px; }
      .navbar .row .search .search__wrap input {
        border: none;
        outline: none;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px; }
      .navbar .row .search .search__wrap .search__icon {
        background-color: #00BD97;
        border-radius: 50%;
        color: #00BD97;
        font-size: 20px; }
        .navbar .row .search .search__wrap .search__icon .material-symbols-outlined {
          color: white;
          font-weight: 800;
          font-size: 24px;
          padding: 5px; }
    .navbar .row .noti {
      display: flex;
      justify-content: flex-end; }
      .navbar .row .noti .not__icon {
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 50%; }
        .navbar .row .noti .not__icon .material-symbols-outlined {
          font-size: 32px;
          color: #00BD97; }

.add-post {
  border: 1px solid #80ff00;
  background-color: white;
  width: 100%;
  padding: 1rem; }
  .add-post .post-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    .add-post .post-options .options {
      display: flex;
      justify-content: space-between; }
      .add-post .post-options .options .publish-btn {
        background-color: #00BD97;
        color: white;
        font-weight: 500;
        border-radius: 6px;
        outline: none;
        border: none;
        padding: 4px 8px; }
