<div class="navbar">
  <div class="container py-3">
    <div class="row w-100">
      <div class="col-3">
        <div class="logo">
          <img src="assets/images/logo.png" alt="" />
        </div>
      </div>
      <div class="col-6">
        <div class="search">
          <div class="search__wrap">
            <input type="text" placeholder="Search..." />
            <div class="search__icon">{{{getIcon "search"}}}</div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="noti">
          <div class="not__icon">{{{getIcon "notifications"}}}</div>
        </div>
      </div>
    </div>
  </div>
</div>